@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700);
@mixin size ($point) {
    @if $point==large {
        @media screen and (max-width: 960px) {
            @content;
        }
    }
    @if $point==medium {
        @media screen and (max-width: 788px) {
            @content;
        }
    }
    @if $point==small {
        @media screen and (max-width: 528px) {
            @content;
        }
    }
}

//To Use
// @include size(medium) {
//   background: red;
// }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

// Globals
.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.column-center {
    align-items: center;
}

.split {
    justify-content: space-between;
}

.split-center {
    justify-content: space-around;
}

.right {
    align-self: flex-end;
}

.bottom {
    justify-content: flex-end;
}

//body styling
header {
    height: 100vh;
    background-image: url('http://res.cloudinary.com/dsvtbqkhv/image/upload/v1463358762/Trilogy%20site/ThinkstockPhotos-92572506.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    @media screen and (max-width: 1350px) {
        height: 90vh;
        background-color: rgba(170, 173, 175, 0.07);
    }
    @include size(large) {
        height: 50vh;
    }
}

.jumbotron {
    height: 100%;
    .title {
        height: 100%;
        h1 {
            color: #AAADAF;
            font-family: 'Lato', sans-serif;
            font-size: 3em;
            font-weight: 300;
            letter-spacing: 10px;
            text-transform: uppercase;
            @include size(large) {
                font-size: 1em;
            }
            span {
                color: #fff;
            }
        }
        h2 {
            margin-top: 10px;
            color: #fff;
            font-size: 1.3em;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            @include size(large) {
                font-size: 1em;
            }
        }
        button {
            border: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-top: 40px;
            color: #fff;
            font-size: 1em;
            font-weight: 300;
            background: none;
            border: 1px solid #fff;
            padding: 15px 30px;
            transition: background .5s linear 0s, color .3s linear 0s;
                &:hover {
                    background: #fff;
                    color: #000;
                }
            @include size(large) {
                font-size: .5em;
            }
        }
    }
}

section {
    // height: 70vh;
    background-color: rgba(170, 173, 175, 0.07);
    .approach {
        .head {
            // height: 70vh;
            h1 {
                margin-top: 100px;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 300;
                letter-spacing: 3px;
                text-align: center;
            }
            .dots {
                margin-top: 30px;
                margin-bottom: 60px;
                align-items: center;
                img {
                    // height: 100%;
                }
                .arrow {
                    margin: 0 20px;
                }
            }
            p {
                max-width: 900px;
                text-align: center;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                letter-spacing: 2px;
                line-height: 200%;
                margin-bottom: 100px;
                margin-left: 15px;
                margin-right: 15px;
                @include size(large) {
                    max-width: 700px;
                }
            }
        }
    }
}

.love {
    // height: 70vh;
    .head {
        // height: 70vh;
        margin-top: 100px;
        h1 {
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 300;
            letter-spacing: 3px;
            text-align: center;
            margin: 0 15px;
        }
        .dots {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 60px;
            align-items: center;
            img {
                // height: 100%;
            }
            .arrow {
                margin: 0 20px;
            }
        }
        .icons {
            flex-wrap: wrap;
            margin-top: 40px;
            margin-bottom: 200px;
            .sections {
                width: 20%;
                // margin-bottom: 10%;
                @include size(large) {
                    width: 80%;
                    // flex-wrap: wrap;
                }
                h1 {
                    margin: 50px 0;
                    text-align: center;
                    @media screen and (max-width: 1319px) {
                        font-size: .8em;
                    }
                }
                p {
                    text-align: justify;
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-align-last: center;
                    @media screen and (max-width: 640px) {
                        text-align: center;
                    }
                }
            }
            .second {
                margin: 0 45px;
                @include size(large) {
                    margin-bottom: 10%;
                }
            }
        }
    }
}

.take {
    flex-wrap: wrap;
    .phone {
        width: 50%;
        @media screen and (max-width: 1348px) {
            width: 100%
        }
        @media screen and (max-width: 820px) {
            width: 100%;
        }
        img {
            width: 100%;
            @media screen and (max-width: 1348px) {
                width: 100%
            }
        }
    }
    .head {
        width: 50%;
        @media screen and (max-width: 1348px) {
            width: 100%;
            margin: 30px 0;
        }
        @include size(large) {
            margin: 40px 0;
        }
        .text {
            width: 100%;
            h1 {
                text-align: center;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 300;
                letter-spacing: 3px;
            }
        }
        .dots {
            align-items: center;
            margin-top: 30px;
            margin-bottom: 60px;
            @media screen and (max-width: 1319px) {
                margin-bottom: 25px;
                width: 30%;
            }
            @include size(large) {
                // width: 30%;
                margin-bottom: 20px;
            }
            img {
                // height: 100%;
            }
            .arrow {
                margin: 0 20px;
            }
        }
        .paragraph {
            max-width: 60%;
            @media screen and (max-width: 1348px) {
                width: 100%
            }
            @include size(large) {
                max-width: 90%;
            }
            p {
                text-align: center;
                text-align: justify;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                letter-spacing: 1px;
                line-height: 170%;
                @media screen and (max-width: 1319px) {
                    font-size: 1em;
                }
                @include size(large) {
                    font-size: 1em;
                    line-height: 125%;
                }
            }
            .second {
                margin-top: 25px;
                @media screen and (max-width: 1319px) {
                    margin-top: 10px;
                }
                @include size(large) {
                    margin-top: 10px;
                }
            }
        }
    }
}

.drinks {
    height: 350px;
    background-image: url('http://res.cloudinary.com/dsvtbqkhv/image/upload/v1463355849/drinks_dvi7o3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    @media screen and (max-width: 1442px) {
        height: 200px;
        background-size: 300%;
    }
    @include size(large) {
        height: 200px;
        background-size: 300%;
    }
    @media screen and (max-width: 640px) {
        height: 200px;
        background-size: 300%;
    }
    h1 {
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 300;
        letter-spacing: 8px;
        text-align: center;
        @media screen and (max-width: 640px) {
            font-size: 1em;
            margin-bottom: 10px;
        }
    }
    h2 {
        margin-top: 10px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 5px;
        text-align: center;
        margin: 0 25px;
        @media screen and (max-width: 640px) {
            font-size: .5em;
        }
        span {
            font-style: italic;
            font-weight: 500;
        }
    }
    // img {
    //     margin-top: 40px;
    // }
}

.gallery {
    margin: 100px 0;
    .section {
        flex-wrap: wrap;
        .thumbs {
            width: 20%;
            // margin-bottom: 8%;
            @include size(large) {
                width: 90%;
                margin-top: 60px;
                margin-bottom: 40px;
            }
            h1 {
                margin: 50px 0;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                font-size: .9em;
                font-weight: 300;
                letter-spacing: 3px;
                text-align: center;
            }
            p {
                text-align: justify;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                letter-spacing: 1px;
                text-align-last: center;
                @media screen and (max-width: 640px) {
                    text-align: center;
                }
            }
        }
        .second {
            margin-right: 30px;
            margin-left: 30px;
            @include size(large) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.ignite {
    background-color: #061421;
    button {
        border: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 80px 0;
        color: #fff;
        font-size: 1em;
        font-weight: 300;
        background: none;
        border: 1px solid #fff;
        padding: 25px 35px;
    }
}

.team {
    .head {
        margin-top: 100px;
        h1 {
            text-align: center;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 300;
            letter-spacing: 3px;
        }
        .dots {
            width: 100%;
            margin-top: 30px;
            margin-bottom: 60px;
            align-items: center;
            img {
                // height: 100%;
            }
            .arrow {
                margin: 0 20px;
            }
        }
    }
    .sections {
        flex-wrap: wrap;
        margin-bottom: 100px;
        .thumbs {
            // flex-wrap: wrap;
            width: 20%;
            // margin-bottom: 10%;
            @include size(large) {
                width: 80%;
            }
            h1 {
                margin: 50px 0;
                text-align: center;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 300;
                letter-spacing: 3px;
                span {
                    text-transform: lowercase;
                }
            }
            p {
                text-align: justify;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                letter-spacing: 1px;
                text-align-last: center;
                @media screen and (max-width: 640px) {
                    text-align: center;
                }
            }
            .social {
                margin-top: 20px;
                img {
                    padding: 0 10px;
                }
            }
        }
    }
    .second {
        margin: 60px 60px;
    }
}

.subscribe {
    background-image: url('http://res.cloudinary.com/dsvtbqkhv/image/upload/v1463355847/submit_sbl8bq.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    @include size(large) {
        height: 200px;
    }
    .info {
        h1 {
            color: #fff;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 300;
            margin: 45px 0;
            letter-spacing: 2px;
            @include size(large) {
                margin: 20px 0;
            }
            @include size(medium) {
                font-size: .8em;
            }
        }
        form {
            input {
                background: rgba(0, 0, 0, 0);
                border: 1px solid #fff;
                width: 200px;
                height: 40px;
            }
            button {
                color: #fff;
                background-color: #33cccc;
                border: none;
                padding: 15px 15px;
                height: 40px;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                margin-left: 5px;
            }
        }
    }
}

.line {
    background-color: rgba(170, 173, 175, 0.1);
    .head {
        margin-top: 0;
        h1 {
            margin-top: 100px;
            text-align: center;
            font-family: 'Lato', sans-serif;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 300;
            letter-spacing: 3px;
        }
        .dots {
            align-items: center;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 60px;
            @media screen and (max-width: 640px) {
                // width: 30%;
            }
            img {
                // height: 100%;
            }
            .arrow {
                margin: 0 20px;
            }
        }
        .box {
            margin-bottom: 100px;
            // flex-wrap: wrap;
            @media screen and (max-width: 640px) {
                flex-direction: column;
                align-items: center;
            }
            .info {
                background-color: #fff;
                width: 400px;
                padding: 30px 0;
                @include size(large) {
                    width: 250px;
                }
                @include size(medium) {
                    width: 250px;
                }
                h1 {
                    color: #33cccc;
                    margin-top: 20px;
                    @include size(medium) {
                        font-size: 1em;
                    }
                }
                h3 {
                    font-family: 'Lato', sans-serif;
                    font-weight: 300;
                    font-size: 1em;
                    margin-top: 20px;
                    @include size(medium) {
                        font-size: 1em;
                    }
                }
            }
            .second {
                margin: 0 30px;
                @media screen and (max-width: 640px) {
                    margin: 20px 0;
                }
            }
        }
    }
}

.footer {
    height: 100px;
    background-color: #061421;
    .info {
        padding: 0 10%;
        h1 {
            font-family: 'Lato', sans-serif;
            font-size: .8em;
            font-weight: 300;
            color: #fff;
            span {
                color: #A5A5A5;
            }
        }
    }
}
